body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.container {
    text-align: center;
    border: solid 2px black;
}

.divi {
    margin-bottom: 20px;
    
}

.divi-icon {
    width: 50px;
    margin: 0 10px;
    cursor: grab;
}

.divi-icon:active {
    cursor: grabbing;
}

.computer {
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.computer img {
    width: 100%;
}

#swallowing-icon {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    transition: all 1s ease-in-out;
}
